<div class="message-container">
  <div class="message-owner"><strong><%= message.user.username %></strong> <span class="timestamp"><%= message.timestamp %></span></div>
  <div class="message-content"><%= sanitize markdown_to_html(message.body) %></div>
</div>