<div class="message-container">
  <div class="message-owner"><strong><%= message.user.username %></strong> <span class="timestamp"><%= message.timestamp %></span></div>
  <div class="message-content"><%= message.body %></div>
  
</div>