<div class="panel">
  <% Message.pinned?(@chatroom.id).each do |msg| %>
    <div class='pinned-msg'>
      <span class='pin-head'><%= msg.user.username %></span> <span class='pin-time'><%= msg.datetime %></span>
      <p><%= sanitize markdown emojify(msg.body) %>
    </div>
  <% end %>
</div>
