<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Topic</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_tag url_for(action: 'update_topic'), method: "put" do %>
          <%= label_tag :topic %>
          <%= text_area_tag :topic, @chatroom.topic, class: 'form-control' %>
          <br /> <br />
        <div class="btn-wrapper">
          <input type='button' value="Cancel" data-dismiss="modal" class="btn close-btn"/>
          <%= submit_tag 'Set topic', class: 'btn btn-primary submit' %>
        </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
