 <div class="purpose-body">
    <%= form_tag url_for(action: 'update_purpose'), method: "post", class: 'submit-purpose' do %>
      <% label_tag 'Purpose' %>
      <%= text_area_tag 'purpose', @chatroom.purpose, class: 'form-control' %>
      <div class="set-purpose-btn">
        <a href="#" class="close-btn">Cancel</a>
        <%= submit_tag 'Set purpose', class: 'submit' %>
      </div>
    <% end %>
</div>
