<div class='fluid-container main'>
  <div class='row'>
    <div class='col-md-2 left-side'>
       <%= render "layouts/partials/left_panel" %>
    </div>

<%= react_component 'Chatrooms', {
  chatrooms: @chatrooms,
  } %>

