<div class="new-chatroom">
  <h3 class="chatroom-header">New Chatroom</h3>
  <div class="new-room">
    <%= render 'form', chatroom: @chatroom %>
    <%= link_to 'Cancel', chatrooms_path %>
  </div>
</div>
