<div class='bg'>
  <div class='overlay'>
    <div class='navs'>
      <h5>Chattie</h5>
      <ul class='navbar-list'>
        <li class='navbar-item'><%= link_to 'Log in', new_user_session_path, class: ''%></li>
        <li class='navbar-item'><%= link_to 'Register', new_user_registration_path, class: ''%></li>
        <li></li>
      </ul>
    </div>

    <div class='hero-text'>
      <h1>Connecting to the world</h1>
      <%= link_to 'Start', new_user_session_path, class: ''%>
    </div>

  </div>
</div>
