@font-face {
  font-family: DINPro-Light;
  src: font-url('DINPro-Light.ttf') format('truetype');
  src: font-url('DINPro-Light.otf') format('opentype');
}

@font-face {
  font-family: DINPro-Regular;
  src: font-url('DINPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: DINPro-Medium;
  src: font-url('DINPro-Medium.ttf') format('truetype');
}

@font-face {
  font-family: DINPro-Bold;
  src: font-url('DINPro-Bold.ttf') format('truetype');
}