$font-family-light: DINPro-Light;
$font-family-regular: DINPro-Regular;
$font-family-medium: DINPro-Medium;
$font-family-bold: DINPro-Bold;

// Break point
$break-point-smobile: 320px;
$break-point-medium-mobile: 400px;
$break-point-mobile: 480px;
$break-point-tablet: 768px;
$break-point-large-tablet: 839px;
$break-point-desktop: 1076px;
$break-point-large: 1500px;

// colors
$white: #fff;
$lemon-green: #58Af9B;
$light-grey: rgba(214, 219, 219, 0.6);
$dark-grey: #797c7c;


