/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import 'bootstrap';
@import "font-awesome";
@import 'base';

.btn {
  padding: 0.25rem 0.75rem;
  border-radius: 0;
}

.submit {
  &:hover{
    color: #431c43;
    background-color: #fff;
    border: 1px solid #431c43;
  }
}

.close-btn {
  padding: 0.25rem 0.75rem;
  background-color: none;
  border: 1px solid #431c43;
  margin-right: 0.1rem;
  color: #431c43;

  &:hover {
    color: #fff;
    background-color: #431c43;
    transition: ease
  }
}
.btn-wrapper {
  text-align: right;
}

.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.strike > span {
  position: relative;
  display: inline-block;
}

.strike > span:before,
.strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: red;
}

.strike > span:before {
  right: 100%;
  margin-right: 15px;
}

.strike > span:after {
  left: 100%;
  margin-left: 15px;
}

body {
  background-color: #ecf4f7;
  font-family: $font-family-regular !important;
  box-sizing: border-box;
}

input#user_username.form-control,
input#user_email.form-control,
input#user_password.form-control,
input#user_password_confirmation.form-control,
input#user_login.form-control,
input#user_first_name.form-control,
input#user_last_name.form-control,
input#user_qoute.form-control,
input#user_job_description.form-control,
 {
  box-shadow: none;
  
  &:focus {
    border-color: #431c43;
  }
}

.login {
  width: 25rem;
  margin: 5rem auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.05);
}

.sign-up {
  width: 30rem;
  margin: 7rem auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
}

.card {
  width: 200px;
  height: 90px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.05);
  text-align: center;
  padding-top: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  border: none;
  font-family: $font-family-medium;
}

.index-page {
  margin-top: 3em;
  width: 90%;

  .new-chatroom-btn {
    float: right;
    margin-right: 1.1rem;
  }

  .room-container,
  .icon-link {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .fa {
    color: #7a237a;
    font-size: 14px;
  }

  .no-room {
    margin-top: 50px;
  }

  .icon-link {
    margin-top: 20px;

    .fa {
      font-size: 23px;
    }
  }
}

nav {
  background-color: #fff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}
textarea#message_body.form-control {
  border: 1px solid #431c43;
  box-shadow: none;
}

textarea {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
   box-shadow: none;
}

li {
  list-style-type: none;
}


a.list:hover {
  text-decoration: none;
  background-color: #4f314f; 
}

.fa-bullet {
  font-size: 11px;
}

  .nav-link,
  .navbar-brand {
    color: #431c43 !important;
    font-weight: bold;
  }

  .navbar-brand {

    @media screen and (max-width: 450px) {
      text-align: center;
    }
  }

 .main {
   margin-top: 3em;

   .btn-primary {
    color: rgb(241, 239, 239);
    background-color: #431c43;
    border-color: #431c43;
  }

  .login {
    background-color: #fff;

    h3 {
      text-align: center;
      margin-bottom: 20px;
    }

    input#chatroom_name {
      border: 1px solid #431c43;
    }

    .new-room {
      text-align: center;
    }

  }

  input {
    outline: none;
  }

  .left-side {
    background-color: #431c43;
    color: #ff9900;
    height: 100vh;
    position: fixed;
    top: 57px;
    left: 0;
    padding-top: 20px;
    overflow: auto;
    font-family: $font-family-light;

    @media screen and (max-width: 450px) {
      display: none;
    }

    .badge {
      color: red;
    }

    .hide-badge {
      display: none;
    }

    .show-badge {
      display: inline-block;
    }

    .chatroom-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .fa-add-icon, .fa-bullet {
        color: #ff9900dd;
      }

      .fa-circle {
        color: #b5b8b9 !important;
      }
    }

    .nothing {
      font-size: 14px;
      color: #b5b8b9;
      text-align: center;
    }

    .direct-message {
      margin-bottom: 60px;

      .fa-circle {
        font-size: 11px;
        color: grey;
      }
    }

    a {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.734);
    }

    .list:hover {
      background-color: #151415;
    }

  }

  .right-side {
    color: rgb(92, 88, 88);
    padding-left: 35px;
    display: flex;
    flex-direction: column;

    code {
      font-family: monospace;
      white-space: pre-wrap;
      padding: 3px 10px;
      display: inline-block;
      background-color: rgba(193, 191, 191, 0.442);
    }

    .container-wrapper {
      display: flex;
      flex-direction: row;

      .message-side {
        flex: 3;
      }

      .channel-details {
        flex: 1.1;
        border-left: 1px solid #cac5c5;
        height: calc(100vh - 30px);
        box-sizing: border-box;
        overflow: auto;
        padding-bottom: 5em;

        .about-header {
          padding: 26px 10px;
          text-align: left;
          background-color: #dfe6e9;
          font-family: $font-family-bold;
          position: fixed;
          width: 100%;
          border-bottom: 1px solid #cac5c5;
        }

        .about-body {
          margin-top: 4.95em;

          .hide-edit-btn,
          #purpose-form {
            display: none;
          }

          .set-purpose-btn {
            margin-top: 10px;
            text-align: right;

            .close-btn,
            .submit {
              font-size: 10px;
              border-radius: 2px;
            }
          }

        }

        .accordion {
          background-color: #ecf4f7;
          color: #444;
          cursor: pointer;
          padding: 10px;
          width: 100%;
          border-bottom: none;
          border-top: 1px solid #cac5c5;
          border-left: none;
          text-align: left;
          outline: none;
          font-size: 15px;
          transition: 0.3s;

          .fa-star {
            color: #7a237a
          }

          .fa-user {
            color: #23307a
          }

          .fa-map-pin {
            color: #b52424
          }

          .fa-folder-open {
            color: #5d7a23
          }
      }
      
      .accordion:hover {
          background-color: rgba(204, 204, 204, 0.522);
      }
      
      .accordion:after {
          content: '\276F';
          color: #777;
          font-weight: bold;
          float: right;
          margin-left: 5px;
      }
      
      .active:after {
          content: "\2212";
      }
      
      .panel {
          padding: 0 18px;
          background-color: #ecf4f7;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.3s ease-out;
          font-family: $font-family-light;
          font-size: 13px;

          .purpose-panel {
            margin-bottom: 10px;
          }

          .fa-circle {
            font-size: 10px;
          }

          p {
            margin-bottom: 0;
            font-family: $font-family-regular;
          }
        }
      }
    }

    .name-header {
      position: fixed;
      flex: 1;
      margin-top: 30px;
      width: 59.5%;
      background-color: inherit;

      .users {
        font-family: $font-family-light;
        font-size: 12px;
        margin-bottom: 20px;
      }

      hr {
        margin-top: -1rem;
      }

      .purpose-btn {
        border: none ;
        background: none;
        cursor: pointer;
        outline: none;

        &:hover {
          border: 1px solid grey;
          background-color: rgba(242, 247, 242, 0.709);
          border-radius: 3px;
        }
      }
    }

    #message-wrapper {
      flex: 5;
      height: 475px;
      overflow: auto;
      margin-top: 100px;
      padding-bottom: 10px;

      @media screen and (min-width: 1600px) {
        height: 50em;
      }

      .message-content {
        font-size: 14px;
        margin-left: 1em;
      }

      .strike {
        color: rgb(197, 59, 59);
        font-family: $font-family-light;
        font-size: 11px;
      }

      .message-container {
        margin-bottom: 1em;

        &:hover {
          background-color: #b1c9d84b;
        }

        .message-owner {
          font-size: 15px;
          font-family: $font-family-medium;
        }
  
        .timestamp {
          font-size: 10px;
          font-family: $font-family-light;
        }
      }
    }
  
    .new_message {
      flex: 1;
      position: fixed;
      bottom: 20px;
      width: 58%
    }
  }

}

 .alert {
   position: absolute;
   width: 30%;
   top: 70px;
   right: 100px;
   z-index: 1;
 }

