/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import 'bootstrap';
@import "font-awesome";
@import 'base';

body {
  background-color: #ecf4f7;
  font-family: $font-family-regular !important;
}

input#user_username.form-control,
input#user_email.form-control,
input#user_password.form-control,
input#user_password_confirmation.form-control,
input#user_login.form-control,
 {
  box-shadow: none;
  
  &:focus {
    border-color: #6d45cc;
  }
}

.login {
  width: 25rem;
  margin: 5rem auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.05);
}

.sign-up {
  width: 25rem;
  margin: 2rem auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
}

.card {
  width: 200px;
  height: 90px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.05);
  text-align: center;
  padding-top: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  border: none;
}

.index-page {
  margin-top: 3em;
  width: 90%;

  .new-chatroom-btn {
    float: right;
    margin-right: 1.1rem;
  }

  .room-container,
  .icon-link {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .icon-link {
    margin-top: 20px;

    .fa {
      font-size: 23px;
    }
  }
}

nav {
  background-color: #fff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}
textarea#message_body.form-control {
  border: 1px solid #6d45cc;
  box-shadow: none;
}

textarea {
  -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

li {
  list-style-type: none;
}

.list:visited {
  background-color: #3b38eb; 
}

.list:hover {
  text-decoration: none;
  background-color: #b282f5; 
}

.fa {
  color: #9775e8;
}

  
  .nav-link,
  .navbar-brand {
    color: #6d45cc !important;
    font-weight: bold;
  }

 .main {
   margin-top: 3em;

   .btn-primary {
    color: #fff;
    background-color: #6d45cc;
    border-color: #6d45cc;
  }

  .login {
    background-color: #fff;
  }

  input {
    outline: none;
  }

  .left-side {
    background-color: #6d45cc;
    color: #fff;
    height: 100vh;
    position: fixed;
    top: 57px;
    left: 0;
    padding-top: 20px;

    a {
      color: rgba(255, 255, 255, 0.734);
    }
  }

  .right-side {
    color: rgb(92, 88, 88);
    padding-left: 35px;
    display: flex;
    flex-direction: column;

    .name-header {
      position: fixed;
      flex: 1;
      margin-top: 30px;
      width: 100%;
      background-color: inherit;
    }

    #message-wrapper {
      flex: 5;
      height: 500px;
      overflow: auto;
      margin-top: 70px;
      padding-bottom: 10px;

      @media screen and (min-width: 1600px) {
        height: 50em;
      }

      .message-content {
        font-size: 14px;
      }

      .strike {
        color: rgb(197, 59, 59);
        font-family: $font-family-light;
        font-size: 11px;
      }

      .message-owner {
        font-size: 15px;
        font-family: $font-family-light !important;
      }

      .timestamp {
        font-size: 10px;
      }
    }
  
    .new_message {
      flex: 1;
      position: fixed;
      bottom: 20px;
      width: 80%
    }
  }

}

 .alert {
   position: absolute;
   width: 30%;
   top: 70px;
   right: 100px;
   z-index: 1;
 }



