/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import 'bootstrap';

 body {
  background-color: #e4ebed;
 }

 .main {
   margin-top: 3em;

   .btn-primary {
    color: #fff;
    background-color: #6d45cc;
    border-color: #6d45cc;
  }

  .login {
    background-color: #fff;
  }

  input {
    outline: none;
  }

  .left-side {
    background-color: #6d45cc;
    color: #fff;
    height: 100vh;
    position: fixed;
    top: 55px;
    left: 0;
    padding-top: 20px;
  }

  .right-side {
    color: rgb(77, 75, 75);
    padding-left: 35px;
    display: flex;
    flex-direction: column;

    .name-header {
      position: fixed;
      flex: 1;
      margin-top: 30px;
      width: 100%;
      background-color: inherit;
    }

    #message-wrapper {
      flex: 5;
      height: 500px;
      overflow: auto;
      margin-top: 70px;
      // background-color: aqua;
      padding-bottom: 10px;

      @media screen and (min-width: 1600px) {
        height: 50em;
      }

      .message-content {
        font-size: 14px;
      }

      .message-owner {
        font-size: 15px;
      }

      .timestamp {
        font-size: 10px;
      }
    }
  
    .new_message {
      flex: 1;
      position: fixed;
      bottom: 20px;
      width: 80%
    }
  }

}

 .alert {
   position: absolute;
   width: 30%;
   top: 70px;
   right: 100px;
   z-index: 1;
 }



