@import 'base';

.home {
  float: right;
  margin-top: -15px;
}

.login {
  position: fixed;
  top: 5em;
  right: auto;
  left: auto;
  width: 25rem;
  margin: 5rem auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-shadow: 0 4px 9px 0 rgba(4, 4, 4, 0.529);
  background-color: rgb(233, 239, 253);
  border-radius: 5px;

  @include respond-to(medium-screens) {
    left: 27.4em;
  }

  .btn {
    background-color: #431c43;
    color: #fff;
    border-radius: 3px;
  }
}

.sign-up {
  position: fixed;
  top: 3em;
  right: auto;
  left: auto;
  width: 35rem;
  margin: 5rem auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-shadow: 0 4px 9px 0 rgba(4, 4, 4, 0.529);
  background-color: rgb(233, 239, 253);
  border-radius: 5px;

  @include respond-to(medium-screens) {
    top: 1em;
    left: 21.4em;
  }

  .btn {
    background-color: #431c43;
    color: #fff;
    border-radius: 3px;
    border: none;
  }
}

.auth {
  .purple {
    height: 100vh;
    background-color: #431c43;
  }

  .yellow {
    height: 100vh;
    background-color: #ff9900;
  }
}