// Place all the styles related to the Chatrooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'base';



.left-side {
  background-color: $lemon-green;
  height: 100vh;
  max-width: 200px;
  min-width: 199px;
  padding-left: 30px;
  overflow: auto;
  font-family: $font-family-light;

  @media screen and (max-width: 450px) {
    display: none;
  }

  .user-section {
    background-color: $light-grey;
    margin: 0 -15px;
    padding: 15px 10px;
    color: $white;
    font-family: $font-family-medium;
    font-size: 15px;
    cursor: pointer;

    .dropdown-menu {
      color: #5c5a5c;

      &.show {
        // top: -5px !important;
        left: 2px !important;
        width: 180px;
      }

      a {
        color: #5c5a5c;
        font-family: $font-family-regular;
      }

      .user-profile {
        display: flex;
        flex-direction: row;
        padding: 10px 8px;

        .username {
          font-family: $font-family-bold;
        }

        .fullname {
          font-family: $font-family-regular;
          font-size: 0.9rem;
        }


        .user-image {
          width: 40px;
          height: 40px;
          background-color: $light-grey;
          margin-right: 5px;
          border-radius: 3px;
        }
      }
    }
  }

  .chatrooms {
    margin: 0 -15px 20px -15px;

    .chatroom-link {
      padding-left: 10px;
      width: inherit;
      display: block;

      &:hover {
        background-color: #151415;
      }

      @mixin before {
        font-family: 'FontAwesome';
        display: inline-block;
        margin-right: 4px;
        font-size: 10px;
      }

      &.private::before {
        @include before;
        content: "\f023";

      }

      &.public::before {
        @include before;
        content: "\f292";
      }
    }

  }

  .dm-link {
    padding-left: 10px;
    width: inherit;
    display: block;

    &:hover {
      background-color: #151415;
    }

    &::before {
      content: "";
      display: inline-block;
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background-color: rgb(71, 71, 70);
      margin-right: 4px;
    }
  }


  .badge {
    color: red;
  }

  .hide-badge {
    display: none;
  }

  .show-badge {
    display: inline-block;
  }

  .chatroom-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;

    .fa-add-icon,
    .fa-bullet {
      color: #a200ffdd;
    }

    .fa-circle {
      color: #b5b8b9 !important;
    }
  }

  .nothing {
    font-size: 14px;
    color: #b5b8b9;
    text-align: center;
  }

  .direct-message {
    margin: 0 -15px 60px -15px;

    h6 {
      padding-left: 10px;
    }

    .fa-circle {
      font-size: 11px;
      color: grey;
    }
  }

  a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.734);
  }

}

.new-chatroom {
  width: 50%;
  height: auto;
  position: fixed;
  top: 25%;
  left: 25%;
  border-style: solid;
  border-color: #e7eaec;
  border-width: 7px 1px 1px 1px;
  padding: 30px;

  h3 {
    margin-bottom: 30px;
    color: $lemon-green;
    font-family: $font-family-regular;
  }

  input#chatroom_name.form-control,
  input#chatroom_purpose.form-control {
    @include input-field;
    padding: 20px;
  }

  .access-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    label {
      margin-right: 10px;
    }

    select {
      cursor: pointer;
      background-color: #e7eaec;
      color: #495057;
      font-size: inherit;
      padding: .5em;
      padding-right: 2.5em;
      border: 0;
      margin: 0;
      border-radius: 3px;
      text-indent: 0.01px;
      text-overflow: '';
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;

      &:focus {
        outline: none;
      }

      &::-ms-expand {
        display: none;
      }
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      pointer-events: none;
    }

    &:after {
      content: "\25BC";
      height: 1em;
      font-size: .6em;
      line-height: 1;
      right: 1.2em;
      top: 50%;
      margin-top: -.5em;
      font-family: "FontAwesome"
    }

    &:before {
      width: 2em;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: 0 3px 3px 0;
      background-color: rgba(0, 0, 0, .2);
    }

  }
}
