// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'base';


#message-wrapper {
  flex: 5;
  max-height: 490px;
  overflow-x: scroll;
  margin-top: 100px;
  padding-bottom: 10px;

  @media screen and (min-width: 1600px) {
    height: 50em;
  }

  .message-content {
    font-size: 11px;
  }

  .strike {
    color: rgb(197, 59, 59);
    font-family: $font-family-light;
    font-size: 11px;
  }

  .show-pinned {
    background-color: #f9f4d1 !important;
  }

  .message-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;


    &:hover {
      background-color: #e3e6e94b;
      .btn-group {
        display: block;
      }
    }

    .seun {
      display: flex;
      flex-direction: row
    }

    .message-wrapper {
    }

    .owner-img {
      height: 30px;
      width: 30px;
      border-radius: 3px;
      background-color: #f9dcd1;
      margin-right: 5px;
      margin-top: 4px;
    }

    .show-pin {
      font-size: 10px;
      display: none;
    }

    .btn-group {
      margin-right: 20px;
      display: none;
      position: absolute;
      top: -10px;
      right: 0;

      fa {
        font-weight: 300;
      }

      .fa-red {
        color: red !important;
      }

      .btn {
        background-color: #fff;
        border-radius: 3px;
        height: 25px;
        border: 1px solid rgba(155, 152, 152, 0.714);
        vertical-align: sub;
      }

      .fa {
        color: rgb(130, 127, 127);
      }
    }

    .message-owner {
      font-size: 11px;
      font-family: $font-family-medium;
      color: #464545;
    }

    .timestamp {
      font-size: 10px;
      font-family: $font-family-light;
    }
  }

  .strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
  
    span {
      position: relative;
      display: inline-block;
  
      &:before, &:after {
        content: "";
        position: absolute;
        top: 50%;
        width: 9999px;
        height: 1px;
        background: red;
      }
  
      &:before {
        right: 100%;
        margin-right: 15px;
      }
  
      &:after {
        left: 100%;
        margin-left: 15px;
      }
    }
  }
}
